<%- include('includes/head'); %>
<%- include('includes/nav'); %>


    <div class="container my-3">
      <div class="row my-3">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-3">
          <h1 class="text-center"> Agenda </h1>
          <p class="text-center lead"> Contatos: </p>
        </div>

        <%- include('includes/messages') %>
    
        <div class="responsive-table">
          <table class="table table-hover my-3">
            <tr class="col-md-offset-2">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>          
          </table>

        </div>
 
        <div class="col-lg-2"> 

        </div>
      </div>
    </div>

  


<%- include('includes/footer'); %>